* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Header */
.navbar {
    margin-bottom: 0;
    background: #29aae3;
    padding: 0 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 20px 50px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: #fff;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	border-radius:50px;
}

.jumbotron {
    background: #fff; /*Color del jumbotron*/
    color: #000; /*Color del texto*/
    padding: 20px 0; /*El primero es arriba y abajo y a los lados es el segundo*/
}

/* POST */
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.post .post-title a {
    color: #333;
}

.post .thumb {
    margin-right: 10px;
    width: 40%;
}

.post .thumb img {
    width: 100%;
}

.post .contenedor-botones {
    width: 100%;
}

/* Media Querie */
@media screen and (max-width: 768px) {
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}